body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center h3,
.center h4 {
  margin: 5px 0;
  font-size: 22px;
}

.star-img {
  width: 400px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.star-img:hover {
  opacity: 0.9;
}
.star-img:active {
  opacity: 0.8;
  transform: scale(1.05);
}

#next-level-btn {
  margin-top: 20px;
  background-color: #444;
  color: white;
  border: 3px solid white;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

#next-level-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Tooltip на кнопке */
.tooltip-btn {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  white-space: nowrap;
  transition: opacity 0.2s;
  z-index: 10;
}

#next-level-btn:disabled:hover .tooltip-btn {
  visibility: visible;
  opacity: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upgrade {
  position: relative;
  background-color: #333;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  width: 280px;
  transition: 0.2s;
}

.upgrade:hover {
  background-color: #555;
}
.upgrade.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.upgrade h4 {
  margin: 5px 0;
  font-size: 16px;
}
.upgrade p {
  margin: 3px 0;
  font-size: 14px;
}
.small-star {
  width: 16px;
  vertical-align: middle;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  transition: opacity 0.2s;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
  z-index: 10;
}

.upgrade:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
